<!DOCTYPE html>
<html>
    <head><title>UniAux</title></head>
    <body background = "https://wallpapercave.com/wp/qJQwIPt.jpg">
        <h1><font color = "#3456eb"> UniAux</font> <img src = "https://github.com/MiladFarazian/cruzhacks-2020-image/raw/master/Uniaux.PNG"/></h1> 
         
        <hr />
        <p><font color = "#3456eb">A Playlist Made for Everyone.</font></p>
   
       <a href= "https://devpost.com/software/uniaux">Our DevPost Team</a>
        
        <br />
        <br />
        
        
        <font color = "#cccccc">
            <div class="content-section">
                <form method="POST" action= "">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">last.fm Username(s) [Enter multiple Usernames in a comma separated list]</legend>
                        <input type="text" name="user" value="">
                         <br /> <br />
                        <input type= "submit" value= "Submit">
                        <div class="form-group">
                        </div>
                    </fieldset>
                </form>
            </div>
        </font>
    </body>
</html>
